body{
  text-align: center;
  background-color: brown;
}

h1{
   font-family: cursive;
  font-size: 8em;
  font-weight: 900;
  text-shadow: 3px 0 #DA0463;
  color: #fff;

}

.all{
  margin: 10% auto;
}

.animation {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

button{
  outline: none;
  border: 10px solid black;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: black;
  text-shadow: 3px 0 black;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;

}
